@charset "UTF-8";


/*Todas as demais midias*/
/*typical device breakpoints
pequenas telas 599px
celular 599px até 755px
tablet 777px até 992px
desktop 992px até 1200
grande tela 1200+

*/

@media screen and (min-width: 700px) and (max-width: 992px){    /*tablet*/
    body{
        background: url(../imagens/back-tablet.jpg);
    }
    #phone{
        display: none;
    }
    #tablet{
        display: block;
    }
    #print{
        display: none;
    }
    #pc{
        display: none;
    }
    #tv{
        display: none;
    }
    
}
@media screen and (min-width: 992px) and (max-width: 1100px) {   /*desktop*/
    body{
        background: url(../imagens/back-pc.jpg);
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #print{
        display: none;
    }
    #pc{
        display: block;
    }
    #tv{
        display: none;
    }
    
}
@media screen and (min-width: 1100px) {    /*tela grande*/ 
    body{
        background: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #print{
        display: none;
    }
    #pc{
        display: none;
    }
    #tv{
        display: block;
    }
    
}
@media print{
    body{
        background: url(../imagens/back-print.jpg); /*não imprime o background*/
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #print{
        display: block;
    }
    #pc{
        display: none;
    }
    #tv{
        display: none;
    }
}